.repositoryListItem {
  width: 90%;
  max-width: 300px;
  background-color: #f8f8ff;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.avatarImage {
  width: 40%;
}

.title {
  padding-bottom: none;
  color: #e73959;
  font-size: 18px;
  font-weight: bold;
}

.featuresContainer {
  width: 80%;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
}

.icons {
  height: 90%;
}

.features {
  font-size: 16px;
  padding-left: 10px;
}
